<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h4 class="mb-5 fw-bold">Please align your face in the center of the circle.</h4>
    <div style="display: flex; flex-direction: column;">
        <div class="record" [style.border]="validation===undefined? 
        '10px solid #fefdff': validation? 
        '10px solid #4ffecb' : '10px solid #f44336'">
        <div class="record-video-camera">
            <video id="video" width="600" height="600" autoplay></video>
        </div>
    </div>
</div>